{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

    <div class="fieldWrapper">
        {{ form.subject.errors }}
        {{ form.subject.label_tag }}
        {{ form.subject }}
    </div>    

    <div class="card card-default">
        <div class="card-header">
        <h3 class="card-title"><i class="fas fa-tasks"></i> Ticket</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" action="." enctype="multipart/form-data" id="create_update">
        {% csrf_token %} 
        
        {{ form.non_field_errors }}
        <div class="card-body">
            <div class="form-group">            
            <label for="{{ form.short_description.id_for_label }}">{{ form.short_description.label }}</label>                    
            {% render_field form.short_description class+="form-control"  %}
            {{ form.short_description.errors }}
            </div>
            <div class="form-group">
            <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>                    
            {% render_field form.description class+="form-control"  %}
            {{ form.description.errors }}
            </div>  
            <div class="form-group">
            <label for="{{ form.docfile.id_for_label }}">{{ form.docfile.label }}</label>                    
            {% render_field form.docfile class+="form-control-file"  %} 
            {{ form.docfile.errors }}
            </div>
            <div class="form-group">
            <label for="{{ form.teams.id_for_label }}">Equipe</label>                    
            {% render_field form.teams class+="form-control  js-teams-select2-multiple"  %} 
            {{ form.teams.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.equipments.id_for_label }}">Equipamentos</label>                    
                {% render_field form.equipments class+="form-control  js-equipments-select2-multiple"  %} 
                {{ form.equipments.errors }}
                </div>
            <div class="form-group">
                <label for="{{ form.deadline.id_for_label }}">{{ form.deadline.label }}</label>                    
                {% render_field form.deadline class+="form-control deadlinedatetimefield"  %} 
                {{ form.deadline.errors }}
            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" form="create_update"><i class="fas fa-save"></i> Salvar</button>
        </div>
        </form>
    </div>

    
{% endblock content %}

{% block scripts %}
<script type="text/javascript"> 
    $(document).ready(function() {
        $('.js-teams-select2-multiple').select2({
            theme: "classic"
        });
    });

    $(document).ready(function() {
        $('.js-equipments-select2-multiple').select2({
            theme: "classic"
        });
    });    
</script>  
<script>
    // flatpickr
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr(".deadlinedatetimefield", {
            enableTime: true,
            enableSeconds: true,
            dateFormat: "d/m/Y H:i:S",
            "locale": "pt" 
        });
    });
</script>
{% endblock scripts %}