{% extends "base.html" %}

{% block content %}
    <div class="row">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1><a href="{% url 'tickets:index_tickets' %}">Tickets</a></h1>
            </div>            
          </div>
        </div><!-- /.container-fluid -->
      </section>

    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ tickets_count_open }}</h3>

            <p>Abertos</p>
          </div>
          <div class="icon">
            <i class="fas fa-clipboard-list"></i>
          </div>
          <a href="{% url 'tickets:filter_ticket_status' True %}"  class="small-box-footer">Filtrar <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ tickets_count_close }}</h3>
            <p>Encerrados</p>
          </div>
          <div class="icon">
            <i class="fas fa-clipboard-check"></i>
          </div>
          <a href="{% url 'tickets:filter_ticket_status' False %}" class="small-box-footer">Filtrar <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <!--
      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>0</h3>

            <p>Sem Ação</p>
          </div>
          <div class="icon">
            <i class="fas fa-users-cog"></i>
          </div>
          <a href="." class="small-box-footer">Filtrar <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      -->
      <!-- ./col -->
      <!--
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>0</h3>

            <p>Sem Equipe</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-minus"></i>
          </div>
          <a href="." class="small-box-footer">Filtrar <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      -->
      <!-- ./col -->
    </div>
    <div class="row">
      
    </div>


    <div class="card card-info">
      
      <div class="card-body">

        <form id="search" action="{% url 'tickets:search_ticket' %}" method="GET" >
          <div class="input-group input-group-sm">            
            
            <input type="text" class="form-control" name="search" placeholder="Buscar" value="{{ request.GET.search }}">
            <span class="input-group-append">
              <button type="submit" class="btn btn-info btn-flat" form="search"><i class="fas fa-search"></i></button>
            </span>
          </div>
        </form>

      </div>
      <!-- /.card-body -->
    </div>




     <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header  float-left">
                <h3 class="card-title"><i class="fas fa-tasks"></i> Tickets <a href="{% url 'tickets:create_ticket' %}" class="btn btn-info btn-xs"><i class="fas fa-plus"></i> Novo</a></h3> 
                
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Criado por</th>
                      <th>Protocolo</th>
                      <th>Status</th>
                      <th>Título</th>
                      <th>Criado em</th>
                      <th>Prazo</th>
                      <th>Última Ação</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    {% if tickets %}                        
                        {% for ticket in tickets %}
                            <tr> 
                                <td>
                                    <a href="{% url 'tickets:read_ticket' ticket.id %}">
                                        {{ ticket.id }}
                                    </a>
                                </td>                               
                                <td>
                                    <a href="{% url 'tickets:read_ticket' ticket.id %}">
                                        {{ ticket.user.first_name }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'tickets:read_ticket' ticket.id %}">
                                        {{ ticket.protocol }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'tickets:read_ticket' ticket.id %}">
                                      {% if ticket.status %}
                                        <span class="badge badge-danger">Aberto</span>
                                      {% else %}
                                        <span class="badge badge-success">Fechado</span>
                                      {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'tickets:read_ticket' ticket.id %}">
                                        {{ ticket.short_description|slice:":30" }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'tickets:read_ticket' ticket.id %}">
                                        {{ ticket.created_at|date:"d/m/Y" }}
                                    </a>
                                </td>
                                <td>
                                  <a href="/tickets/{{ ticket.id }}/">
                                      {{ ticket.deadline|date:"d/m/Y" }}
                                  </a>
                                </td>
                                <td>
                                    <a href="/tickets/{{ ticket.id }}/">
                                        {{ ticket.actions.last.short_description|slice:":15" }} em
                                        {{ ticket.actions.last.created_at|date:"d M Y" }}
                                    </a>
                                </td>
                                
                            </tr>
                        {% endfor %}                        
                    {% else %}
                        <tr>
                            <td colspan="5">Nenhum Ticket Encontrado.</td>                            
                        </tr>
                    {% endif %}                    
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
    
{% endblock %}

{% block scripts %}
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
      "paging": true,
      "ordering": true,
    });   
  });
</script>
{% endblock scripts %}