{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

    <div class="fieldWrapper">
        {{ form.subject.errors }}
        {{ form.subject.label_tag }}
        {{ form.subject }}
    </div>    

    <div class="card card-default">
        <div class="card-header">
        <h3 class="card-title"><i class="fas fa-tasks"></i> Contas de Usuário</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" action=".">
        {% csrf_token %}
        <input type="hidden" value="{{ ticket_id }}" name="ticket_id">
        
        {{ form.non_field_errors }}
        <div class="card-body">                       
            
            <div class="form-group">
                {{ form.old_password.errors }}
                <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>                    
                {% render_field form.old_password class+="form-control" type="password"  %}
            </div>
            
            <div class="form-group">
                {{ form.new_password1.errors }}
                <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>                    
                {% render_field form.new_password1 class+="form-control" type="password"  %}
            </div> 

            <div class="form-group">
                {{ form.new_password2.errors }}
                <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>                    
                {% render_field form.new_password2 class+="form-control" type="password"  %}
            </div> 

            {% for field in form %}
                {{ field.help_text }}
            {% endfor %}

        </div>
        <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>
            </div>
        </form>
    </div>

{% endblock %}