{% extends "base.html" %}

{% block content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{tickets_count_open}}</h3>
                <p>Tickets Abertos</p>
              </div>
              <div class="icon">
                <i class="fas fa-tasks"></i>
              </div>
              <a href="{% url 'tickets:index_tickets' %}" class="small-box-footer">Mais Info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{tickets_count_close}}</h3>
                <p>Tickets Fechados</p>
              </div>
              <div class="icon">
                <i class="fas fa-tasks"></i>
              </div>
              <a href="{% url 'tickets:index_tickets' %}" class="small-box-footer">Mais info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          
        </div>
        <!-- /.row -->
        <!-- Main row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}