{% extends "base.html" %}

{% block content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{tickets_open.count}}</h3>
                <p>Tickets Abertos</p>
              </div>
              <div class="icon">
                <i class="fas fa-tasks"></i>
              </div>
              <a href="{% url 'tickets:index_tickets' %}" class="small-box-footer">Mais Info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{tickets_count_close}}</h3>
                <p>Tickets Fechados</p>
              </div>
              <div class="icon">
                <i class="fas fa-tasks"></i>
              </div>
              <a href="{% url 'tickets:index_tickets' %}" class="small-box-footer">Mais info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-bullhorn"></i>
                  Tickets Abertos
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% for ticket in tickets_open %}
                <div class="callout callout-danger">
                  
                  <h5 class="text-break">
                    #{{ ticket.protocol }} - {{ ticket.short_description }}

                    
                    {% if ticket %}
                      
                    {% endif %}
                      
                  </h5>

                  <p class="text-break">{{ ticket.description|slice:":30" }}</p>
                  
                  <div class="row mb-2">
                    {% for team in ticket.teams.all %}
                     <span class="badge badge-info m-2"><i class="fas fa-users"></i> {{ team }}</span>
                     {% endfor %}
                  </div>                    
               
                  <a href="{% url 'tickets:read_ticket' ticket.pk %}" class="btn btn-secondary btn-sm text-white text-decoration-none">Detalhes</a>
                </div>
                {% endfor %} 
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        

        <div class="row">
          <h1 class="m-0 text-dark col-md-12 m-2">Situação Geral</h1>

            
            {% for equipment in equipments_danger %}
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box">          
                  <a href="{% url 'equipments:read_equipment' equipment.pk %}" class="info-box-icon bg-{{equipment.status}} elevation-1">
                      <i class="fas fa-satellite-dish"></i>
                  </a>
                  <div class="info-box-content">
                    <span class="info-box-text ">{{equipment.name|slice:":30"}}</span>
                    <span class="info-box-number">
                      <span class="badge badge-{{equipment.status}}">
                        {{equipment.get_status_display}}
                      </span>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
            {% endfor %}  
            <div class="col-md-12"></div>            
            
            {% for equipment in equipments_warning %}
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box">          
                  <a href="{% url 'equipments:read_equipment' equipment.pk %}" class="info-box-icon bg-{{equipment.status}} elevation-1">
                      <i class="fas fa-satellite-dish"></i>
                  </a>
                  <div class="info-box-content">
                    <span class="info-box-text ">{{equipment.name|slice:":30"}}</span>
                    <span class="info-box-number">
                      <span class="badge badge-{{equipment.status}}">
                        {{equipment.get_status_display}}
                      </span>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
            {% endfor %} 
            <div class="col-md-12"></div>

            {% for equipment in equipments_success %}
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box">          
                  <a href="{% url 'equipments:read_equipment' equipment.pk %}" class="info-box-icon bg-{{equipment.status}} elevation-1">
                      <i class="fas fa-satellite-dish"></i>
                  </a>
                  <div class="info-box-content">
                    <span class="info-box-text ">{{equipment.name|slice:":30"}}</span>
                    <span class="info-box-number">
                      <span class="badge badge-{{equipment.status}}">
                        {{equipment.get_status_display}}
                      </span>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
            {% endfor %} 
             


        </div>
        <!-- Main row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}