{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

    <div class="fieldWrapper">
        {{ form.subject.errors }}
        {{ form.subject.label_tag }}
        {{ form.subject }}
    </div>    

    <div class="card card-default">
        <div class="card-header">
        <h3 class="card-title"><i class="fas fa-network-wired"></i> Conexão</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{ equipment.pk }}" name="equipment_left">
        
        {{ form.non_field_errors }}
        <div class="card-body">
            
            <div class="form-group">            
                <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>                    
                {% render_field form.description class+="form-control"  %}
                {{ form.description.errors }}
            </div>

            <div class="form-group">            
                <label for="{{ form.equipment_left.id_for_label }}">{{ form.equipment_left.label }}</label>                    
                <input type="text" disabled value="{{equipment.name}}" id="{{ form.equipment_left.id_for_label }}" class="form-control" >
                {{ form.equipment_left.errors }}
            </div> 

            <div class="form-group">            
                <label for="{{ form.direction.id_for_label }}">{{ form.direction.label }}</label>                    
                {% render_field form.direction class+="form-control"  %}
                {{ form.direction.errors }}
            </div> 

            <div class="form-group">            
                <label for="{{ form.equipment_right.id_for_label }}">{{ form.equipment_right.label }}</label>                    
                {% render_field form.equipment_right class+="form-control"  %}
                {{ form.equipment_right.errors }}
            </div> 
                          
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>
        </div>
        </form>
    </div>

{% endblock content %}

{% block scripts %}

<script> 
    $("#set0hour").click(function(event) { 
        $('#id_time').val("0"); 
    });
    $("#set1hour").click(function(event) { 
        $('#id_time').val("60"); 
    });
    $("#set2hour").click(function(event) { 
        $('#id_time').val("120"); 
    });
    $("#set3hour").click(function(event) { 
        $('#id_time').val("180"); 
    });
    $("#set4hour").click(function(event) { 
        $('#id_time').val("240"); 
    });
    $("#set5hour").click(function(event) { 
        $('#id_time').val("300"); 
    }); 
    $("#set6hour").click(function(event) { 
        $('#id_time').val("360"); 
    }); 
</script> 

{% endblock scripts %}